/*O nome das classes são nomeadas no estilo CamelCase*/

.countdownContainer{
    display: flex; /*Flexibiliza o posicionamento dos items*/
    align-items: center; /*Centraliza os items filhos*/
    font-family: Rajdhani; /*Fonte*/
    font-weight: 600; /*Espessura da fonte*/
    color:var(--title); /*cor fonte*/
}

.countdownContainer > div{
 flex:1; /*ocupa a largura máxima do container (Pai) */
 display:flex ;/*possibilita a flexibilidade de posicionamento das tags filhas*/
 align-items: center;
 justify-content: space-evenly; /*os itens são distribuídos para que o espaçamento entre dois itens (e o espaço nas bordas) seja igual.*/
 
 background: var(--white);
 box-shadow: 0 0 20px rgba(0,0,0,0.085);
 border-radius: 5px;
 font-size: 8.5rem;
 text-align: center;
}

.countdownContainer > div span:first-child{ /*Acessa o primeiro item filho*/
border-right: 1px solid #f0f1f3;

}

.countdownContainer > div span:last-child{ /*Acessa o ultimo item filho*/
    border-left: 1px solid #f0f1f3;
    
    }

.countdownContainer > span{
    font-size: 6.5rem;
    margin:0 0.5rem;
    
}



    
.countdownButton{
    width: 100%;
    height: 5rem;

    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    background:var(--blue);
    color: var(--white);

    font-size: 1.25rem;
    font-weight: 600; /*espessura fonte*/

    transition: 0.2s; /*tempo para que o efeito hover ocorra*/

}

/*EFEITO PARA QUANDO PASSAR O MOUSE; CASO O ITEM (TAG) -NÃO- ESTEJA DESABILTIADO*/
.countdownButton:not(:disabled):hover{ /*O [disable] é definido na tag Button no arquivo Countdown.jsx*/
background: var(--blue-dark);

}

.countdownButtonActive{
   background: var(--white);
   color:var(--title);
}


.countdownButtonActive:not(:disabled):hover{
    background: var(--red);
    color:var(--white);
}
/*EFEITO PARA QUANDO PASSAR O MOUSE; CASO O ITEM (TAG) ESTEJA DESABILTIADO*/
.countdownButton:disabled{ /*Caso o item esteja desabilitado*/
    background:var(--white);
    color: var(--text);
    cursor: not-allowed;
}


