
.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display:flex ;
    flex-direction: column;
   
   

}

.container section{
   
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:6.25rem;
    align-content: center;
    
}

/*RESPONSIVIDADE PARA TELAS DE NO MAX 700px*/
@media(max-width: 700px){
.container section{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.container section .mobileMainBottom  {
  margin-bottom: 5rem;
  
}

}